#gameSpaceContainer {
    background-color: black;
    height: 550px;
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px;
}

.gunCard {
    margin-top: 30px;
    margin-left: 40px;
    border: 4px solid green; 

}